<section id="who-we-are">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">
        <p class="section-title">WHO WE ARE</p>
        <h2 class="section-heading">We formulate creative solutions for creative obstacles</h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <div class="row">
          <p class="t-center">Stilt Media is a full-service independent creative agency. We take on branding and marketing challenges through a media-agnostic approach, and pride ourselves on developing innovative solutions. In an industry that is evolving rapidly, conventional thinking is not enough. We must be willing to create unique, engaging brand experiences. Stilt Media is armed with the knowledge, resources, and firepower needed to build brands in this ever-changing multimedia landscape.</p>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 centered" style="margin-top: 20px;">
        <a href="#hero" class="cta cta-default all-caps">Get in touch</a>
      </div>
    </div>
  </div>
</section>
