<div class="contact-overlay overlay-scale">
  <a class="overlay-close">Close</a>
  <div class="container">
    <div class="row">
      <div class="contact-content col-lg-10 col-lg-offset-1 centered">
        <h2 class="all-caps"> Contact Us </h2>
        <p>Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas mollis interdum!</p>
      </div>
    </div>
  </div>
</div>
