<section id="our-services">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">
        <p class="section-title">Our Services</p>
      </div>
    </div>
    <div class="margin-top-60"></div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-4">
          <h4><span class="red">01.</span> Branding</h4>
          <p>
            Branding strategies create lasting impressions. Your brand/story inspires the digital representations of your company’s self-image through logos, typography, trademarks & color palettes.
          </p>
        </div>
        <div class="col-md-4">
          <h4><span class="red">02.</span> Graphic Design</h4>
          <p>
            Graphic design is the art of communication, stylizing, and problem-solving through the use of typography, space, and image. Staying up to date with design trends is key. Less is more.
          </p>
        </div>
        <div class="col-md-4">
          <h4><span class="red">03.</span> Web Design</h4>
          <p>
            Website design is executed with business objectives and company brand in mind while focusing on user experience and user interaction across all devices, platforms & browsers.
          </p>
        </div>
      </div>
      <div class="margin-top-40"></div>
      <div class="row">
        <div class="col-md-4">
          <h4><span class="red">04.</span> Web Development</h4>
          <p>
            Our web development proficiency ranges from developing simple static single pages to the most complex web-based internet applications, electronic businesses, and social network services.
          </p>
        </div>
        <div class="col-md-4">
          <h4><span class="red">05.</span> Display Advertising</h4>
          <p>
            Display ads utilize web and email to drive direct sales for your brand, and these banner ads are designed based on real analytics to effectively result in sales conversions.
          </p>
        </div>
        <div class="col-md-4">
          <h4><span class="red">06.</span> Search Marketing</h4>
          <p>
            Brands constantly want to be at the top of search results for engines such as Google and less often for Bing and Yahoo. User specifically use search to find products & services they need in the moment.
          </p>
        </div>
      </div>
      <div class="margin-top-40"></div>
      <div class="row">
        <div class="col-md-4">
          <h4><span class="red">07.</span> Social Media</h4>
          <p>
            Social Media gives consumers the ability to interact with a brand instantly. Social media could be your brand’s best money-makers or your worst nightmare if mismanaged.
          </p>
        </div>
        <div class="col-md-4">
          <h4><span class="red">08.</span> Content Marketing</h4>
          <p>
            This starts off by creating a unique content strategy that satisfies the needs of a niche market. Curating and writing unique content with the right keywords makes a lasting brand and shows relevancy.
          </p>
        </div>
        <div class="col-md-4">
          <h4><span class="red">09.</span> Competitor Research</h4>
          <p>
            Our Market Planning Analysis & Development (MPAD) Reports are not offered anywhere else. We develop strategies based on actionable insights by researching your brand’s competitors in digital space.
          </p>
        </div>
      </div>
      <div class="margin-top-40"></div>
      <div class="row">
        <div class="col-md-4">
          <h4><span class="red">10.</span> Analytics</h4>
          <p>
            As Google Partners, we pride ourselves on the quality and caliber of analytics data we are able to provide to our clients. Our analytics team provide actionable insights through aggregated data.
          </p>
        </div>
        <div class="col-md-4">
          <h4><span class="red">11.</span> Email Marketing</h4>
          <p>
            Email Marketing involves designing effective email templates, identifying a brand’s target market and user behavior from mobile device usage to email send-ability.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
