<section id="customer-story" class="gray-bg centered">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">
        <p class="section-title">TESTIMONIALS</p>
        <h2 class="section-heading">What our clients say about us</h2>
      </div>
      <div class="clearfix"></div>
      <div class="customer-box-wrapper centered margin-bot-35">
        <ul class="customer-logos">
          <li>
            <div class="vertical-center-wrapper">
              <div class="vertical-center-table">
                <div class="vertical-center-content">
                  <%= image_tag 'conor.png', class: 'customer-logo', data: {sr: 'scale up 30%'} %>
                </div>
              </div>
            </div>
            <div class="customer-quote">
              <small>I've been using #StiltMedia services for few years now and I have to say, they never ceased to amaze me with their innovative approach, prompt responses and family-like hospitality.  I always felt welcomed, understood and what is most important: my ideas were amplified to perfection. Many people still show my site as an example of how modern site should look, which I am proud of and have to thank Stilt Media again and again!</small>
              <span class="customer-link all-caps"><a href="#0">Conor Mcgregor</a></span>
            </div>
          </li>

          <li class="center-customer-logo">
            <div class="vertical-center-wrapper">
              <div class="vertical-center-table">
                <div class="vertical-center-content">
                  <%= image_tag 'outer.png', class: 'customer-logo', data: {sr: 'scale up 30% wait .2s'} %>
                </div>
              </div>
            </div>
            <div class="customer-quote">
              <small>The personnel at Stilt are extremely professional and brought a lot of fresh ideas and perspectives to the table. They value both time and money and delivered the required services within the stipulated deadlines. Outer Reef Yachts will continue to do business with Stilt as projects arise. I am extremely satisfied with the way they conduct their business and hope that you have the same pleasant experience with them.</small>
              <span class="customer-link all-caps"><a href="#0">Outer Reef Yacths</a></span>
            </div>
          </li>

          <li>
            <div class="vertical-center-wrapper">
              <div class="vertical-center-table">
                <div class="vertical-center-content">
                  <%= image_tag 'gloss.png', class: 'customer-logo', data: {sr: 'scale up 30% wait .4s'} %>
                </div>
              </div>
            </div>
            <div class="customer-quote">
              <small>I am pleased to acknowledge Guigo Simoes and his wonderful company, Stilt Media, for exceeding my expectations in the development of my business and e-commerce websites. Not only have they taken my ideas and incorporated them into an incredible website, but they’ve also assisted me with making my brand a recognizable presence in the marketplace.</small>
              <span class="customer-link all-caps"><a href="#0">Gloss Miami</a></span>
            </div>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
