<div class="col-lg-12 col-md-12">
  <div class="row">
    <ul id="team_grid">
      <% @case.each do |c| %>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-12 team-item no-padding" data-type="<% c.categories.each do |cat|%><%= cat.name.parameterize %> <% end %>" data-id="id-<%= c.id %>" style="position:relative;">
          <div class="team-item-content">
            <%= link_to '', "/clients/#{c.slug}" %>
            <%= image_tag c.thumbnail.url(:thumb), alt: c.name %>
          </div>
        </li>
      <% end %>

      <!-- <li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 team-item no-padding" data-type="manager marketing designer" data-id="id-2">
        <div class="team-item-content">
          <img src="images/team-photo/270x320.png" alt="Team Photo"/>
        </div>
      </li>

      <li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 team-item no-padding" data-type="designer developer" data-id="id-3">
        <div class="team-item-content">
          <img src="images/team-photo/270x320.png" alt="Team Photo"/>
        </div>
      </li>

      <li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 team-item no-padding" data-type="marketing support" data-id="id-4">
        <div class="team-item-content">
          <img src="images/team-photo/270x320.png" alt="Team Photo"/>
        </div>
      </li>

      <li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 team-item no-padding" data-type="marketing support" data-id="id-5">
        <div class="team-item-content">
          <img src="images/team-photo/270x320.png" alt="Team Photo"/>
        </div>
      </li>

      <li class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 team-item" data-type="support" data-id="id-6">
        <div class="team-item-content">
          <img src="images/team-photo/270x320.png" alt="Team Photo"/>
          <div class="team-info centered">
            <h6>Mike Doe</h6>
            <small>An experienced Web/UX Designer on a mission to use his God-given gifts in design to help others.<br/><br class="visible-lg visible-xs"/>He has worked with people in many different countries, and from many different industries. </small>
            <ul class="team-social">
              <li><a href="#0"><span class="icon-link2"></span></a></li>
              <li><a href="#0"><span class="icon-linkedin2"></span></a></li>
              <li><a href="#0"><span class="icon-twitter"></span></a></li>
            </ul>
          </div>
        </div>
      </li> -->
    </ul>
  </div>
</div> <!--/ .col-lg-9 -->
