<header id="main-header" class="the-header the-origin-header">

			<div class="container">
				<div class="row">

					<div class="col-lg-12">

						<a href="/" class="logo"><img src="images/logo.png" alt="Urip Logo"></a>
						<!-- Your Logo -->

						<a href="#0" id="nav-menu-trigger" class="menu-toggle flip pull-right all-caps">Menu<span class="icon-menu5"></span></a> <!-- Menu Toggle -->

					</div> <!--/ .col-lg-12 -->

				</div> <!--/ .row -->
			</div> <!--/ .container -->

	  	</header>
	  	<!--
		=========================
		==/ END HEADER CONTENT ==
		=========================
		-->


		<!--
		============================
		== BEGIN NAV MENU CONTENT ==
		============================
		-->
		<nav id="nav-wrapper">

			<a class="nav-close" href="#0"><span class="icon-cross2"></span></a>

			<ul id="main-nav" class="main-nav all-caps">
				<li class="current"><a href="#hero">Home</a></li>
				<li><a href="#what-we-do">What We Do</a></li>
				<li><a href="#our-features">Our Features</a></li>
				<li><a href="#pricing">Pricing</a></li>
				<li><a href="#our-team">The Team</a></li>
				<li><a href="#customer-story">Customers</a></li>
				<li class="dropdown">
					<a class="external" href="#0">
						Dropdown
					</a>
					<ul class="dropdown-menu">
						<li><a href="#0">Some Submenu</a></li>
						<li><a href="#0">And More</a></li>
					</ul>
				</li>
			</ul> <!--/ .main-nav -->

			<ul class="secondary-nav">
				<li><a href="#0">About This Template</a></li>
				<li><a href="#0">Privacy Policy</a></li>
				<li><a href="#0">Terms of Service</a></li>
				<li><a href="#0">Legal</a></li>
				<li><a href="#0">Careers</a></li>
				<li><a class="contact-trigger">Contact Us</a></li>
			</ul> <!--/ .secondary-nav -->

		</nav>
		<!--
		===========================
		==/ END NAV MENU CONTENT ==
		===========================
		-->


		<!--
		========================
		== BEGIN MAIN CONTENT ==
		========================
		-->
		<main id="main-content" class="hero-form-layout" style="margin-bottom: 204px;">

			<!--
			========================
			== BEGIN HERO SECTION ==
			========================
			-->
			<section id="hero">

				<div class="hero-split-right"></div>

				<div class="container">

					<div class="vertical-center-wrapper">
						<div class="vertical-center-table">
							<div class="vertical-center-content">

								<!-- BEGIN Hero Content -->
								<div class="hero-content row">
									<div class="col-lg-6 col-md-6 col-sm-6 margin-top-140">
										<div class="row">
											<div class="col-lg-10">

												<div class="embed-responsive embed-responsive-16by9" data-sr="enter bottom over 1s and move 75px">

													<img src="images/logo-hero.png" alt="" class="img-responsive" />

												</div> <!--/ .embed-responsive -->

											</div>
										</div> <!--/ .row -->

									</div> <!--/ .col-lg-6 -->

									<div class="hero-form-wrapper col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 centered" data-sr="over 1.25s">

										<h4 class="all-caps margin-bot-15">GET IN TOUCH WITH US</h4>

										<form class="register-form margin-top-32 margin-bot-5" id="register-form" method="post">
											<div class="row">

												<div class="col-lg-6 col-md-6">
													<div class="required-field">
														<input name="heroFname" id="hero-fname" class="hero-input"  type="text" placeholder="First Name">
													</div> <!--/ .required-field -->
												</div>

												<div class="col-lg-6 col-md-6">
													<div class="required-field">
														<input name="heroLname" id="hero-lname" class="hero-input"  type="text" placeholder="Last Name">
													</div>
												</div>

												<div class="col-lg-6 col-md-6">
													<div class="required-field">
														<input name="heroEmail" id="hero-email" class="hero-input"  type="text" placeholder="Email Address">
													</div> <!--/ .required-field -->
												</div>

												<div class="col-lg-6 col-md-6">
													<div class="required-field">
														<input name="heroBname" id="hero-bname" class="hero-input"  type="text" placeholder="Business Name">
													</div> <!--/ .required-field -->
												</div>

												<div class="col-lg-12 col-md-12">
													<input name="heroSubject" id="hero-subject" class="hero-input"  type="text" placeholder="Subject">
												</div>

												<div class="col-lg-12 col-md-12">
													<textarea name="heroMessage" id="hero-message" class="hero-input textarea" type="text" placeholder="Message"></textarea>
												</div>

												<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
													<button id="hero-submit" type="submit" class="submit-btn">Submit</button>
												</div>

											</div>
										</form> <!--/ .register-form -->


									</div> <!--/ .hero-form-wrapper -->

								</div> <!--/ .row -->
								<!-- END Hero Content -->

							</div> <!--/ .vertical-center-content -->
						</div> <!--/ .vertical-center-table -->
					</div> <!-- / .vertical-center-wrapper -->

				</div> <!--/ .container -->

			</section>
			<!--
			=======================
			==/ END HERO SECTION ==
			=======================
			-->


			<!--
			==============================
			== BEGIN TOP CLIENT SECTION ==
			==============================
			-->
			<section id="top-client" class="centered">

				<div class="container">
					<div class="row">

						<!-- BEGIN Client Logo -->
						<div class="client-logo">
							<div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">

								<a href="#0"><img src="images/client/makeawish.png" alt="Client Logo" data-sr="scale up 30% wait .2s"/></a>

							</div> <!--/ .the-logo -->

							<div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">

								<a href="#0"><img src="images/client/prime.png" alt="Client Logo" data-sr="scale up 30% wait .2s"/></a>

							</div> <!--/ .the-logo -->

							<div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">

								<a href="#0"><img src="images/client/paradigm.png" alt="Client Logo" data-sr="scale up 30% wait .5s"/></a>

							</div> <!--/ .the-logo -->

							<div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">

								<a href="#0"><img src="images/client/conor.png" alt="Client Logo" data-sr="scale up 30% wait .7s"/></a>

							</div> <!--/ .the-logo -->

							<div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">

								<a href="#0"><img src="images/client/waa.png" alt="Client Logo" data-sr="scale up 30% wait .9s"/></a>

							</div> <!--/ .the-logo -->

							<div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">

								<a href="#0"><img src="images/client/swimshow.png" alt="Client Logo" data-sr="scale up 30% wait 1.1s"/></a>

							</div> <!--/ .the-logo -->

						</div> <!--/ .client-logo -->
						<!-- END Client Logo -->

					</div> <!--/ .row -->
				</div> <!--/ .container -->

			</section>


			<section id="our-features">

				<div class="container">
					<div class="row">

						<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">

							<p class="section-title">WHO WE ARE</p>

							<h2 class="section-heading">We formulate creative solutions for creative obstacles</h2>

						</div> <!--/ .col-lg-8 -->

						<div class="clearfix"></div>

						<!-- BEGIN 1st Row Features -->
						<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-10 col-xs-offset-1">
							<div class="row">
								<p class="t-center">Stilt Media is a full-service independent creative agency. We take on branding and marketing challenges through a media-agnostic approach, and pride ourselves on developing innovative solutions. In an industry that is evolving rapidly, conventional thinking is not enough. We must be willing to create unique, engaging brand experiences. Stilt Media is armed with the knowledge, resources, and firepower needed to build brands in this ever-changing multimedia landscape.</p>
							</div> <!--/ .row -->
						</div> <!--/ .the-feature -->

						<div class="col-lg-12 col-md-12 col-sm-12 centered" style="margin-top: 20px;">
							<a href="#hero" class="cta cta-default all-caps">Get in touch</a>
						</div>

					</div> <!--/ .row -->
				</div> <!--/ .container -->

			</section>



			<section id="our-team" class="gray-bg">

				<div class="container-fluid">
					<div class="row">

						<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">

							<p class="section-title">Our Work</p>

							<h2 class="section-heading">Some of our creativity</h2>

						</div> <!--/ .col-lg-8 -->

						<div class="clearfix"></div>

						<!--BEGIN The Team Wrapper -->
						<div class="the-team-wrapper">

							<div class="col-lg-12 col-md-12">


								<a href="#0" id="mobile-team-filter" class="mobile-filter-select visible-xs"><h4 class="all-caps">all<span class="icon-chevron-thin-down"></span></h4></a>

								<ul class="filter">
									<li class="current all"><a href="#0">Everyone</a></li>&bull;
									<li class="manager"><a href="#0">Manager</a></li>&bull;
									<li class="developer"><a href="#0">Developer</a></li>&bull;
									<li class="designer"><a href="#0">Designer</a></li>&bull;
									<li class="marketing"><a href="#0">Marketing</a></li>&bull;
									<li class="support"><a href="#0">Support</a></li>
								</ul> <!--/ .filter -->

							</div> <!--/ .col-lg-3 -->

							<!-- BEGIN Team Photos -->
							<div class="col-lg-12 col-md-12">

								<div class="row">

									<ul id="team_grid">

										<li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 team-item no-padding" data-type="manager developer" data-id="id-1">

											<div class="team-item-content">

												<img src="images/team-photo/270x320.png" alt="Team Photo"/>


											</div> <!--/ .team-item-content -->

										</li> <!--/ .team-item -->

										<li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 team-item no-padding" data-type="manager marketing designer" data-id="id-2">

											<div class="team-item-content">

												<img src="images/team-photo/270x320.png" alt="Team Photo"/>

											</div> <!--/ .team-item-content -->

										</li> <!--/ .team-item -->

										<li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 team-item no-padding" data-type="designer developer" data-id="id-3">

											<div class="team-item-content">

												<img src="images/team-photo/270x320.png" alt="Team Photo"/>

											</div> <!--/ .team-item-content -->

										</li> <!--/ .team-item -->

										<li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 team-item no-padding" data-type="marketing support" data-id="id-4">

											<div class="team-item-content">

												<img src="images/team-photo/270x320.png" alt="Team Photo"/>

											</div> <!--/ .team-item-content -->

										</li> <!--/ .team-item -->

										<li class="col-lg-2 col-md-2 col-sm-2 col-xs-6 team-item no-padding" data-type="marketing support" data-id="id-5">

											<div class="team-item-content">

												<img src="images/team-photo/270x320.png" alt="Team Photo"/>

											</div> <!--/ .team-item-content -->

										</li> <!--/ .team-item -->

										<li class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 team-item" data-type="support" data-id="id-6">

											<div class="team-item-content">

												<img src="images/team-photo/270x320.png" alt="Team Photo"/>

												<div class="team-info centered">

													<h6>Mike Doe</h6>
													<small>An experienced Web/UX Designer on a mission to use his God-given gifts in design to help others.<br/><br class="visible-lg visible-xs"/>He has worked with people in many different countries, and from many different industries. </small>
													<ul class="team-social">
														<li><a href="#0"><span class="icon-link2"></span></a></li>
														<li><a href="#0"><span class="icon-linkedin2"></span></a></li>
														<li><a href="#0"><span class="icon-twitter"></span></a></li>
													</ul> <!--/ .team-social -->

												</div> <!--/ .team-info -->

											</div> <!--/ .team-item-content -->

										</li> <!--/ .team-item -->

									</ul> <!--/ #team_grid -->

								</div> <!--/ .row -->

							</div> <!--/ .col-lg-9 -->
							<!-- END Team Photos -->

						</div>
						<!--BEGIN The Team Wrapper -->

					</div> <!--/ .row -->
				</div> <!--/ .container -->

			</section>
			<!--
			===========================
			==/ END OUR TEAM SECTION ==
			===========================
			-->

			<section id="our-features">

				<div class="container">

					<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">

							<p class="section-title">Our Services</p>

						</div> <!--/ .col-lg-8 -->
					</div>


						<div class="margin-top-60"></div>

						<div class="clearfix"></div>

						<!-- BEGIN 1st Row Features -->
						<div class="col-lg-12 col-md-12 col-sm-12">

							<div class="row">
								<div class="col-md-4">
									<h4><span class="red">01.</span> Branding</h4>
									<p>
										Branding strategies create lasting impressions. Your brand/story inspires the digital representations of your company’s self-image through logos, typography, trademarks & color palettes.
									</p>
								</div>
								<div class="col-md-4">
									<h4><span class="red">02.</span> Graphic Design</h4>
									<p>
										Graphic design is the art of communication, stylizing, and problem-solving through the use of typography, space, and image. Staying up to date with design trends is key. Less is more.
									</p>
								</div>
								<div class="col-md-4">
									<h4><span class="red">03.</span> Web Design</h4>
									<p>
										Website design is executed with business objectives and company brand in mind while focusing on user experience and user interaction across all devices, platforms & browsers.
									</p>
								</div>
							</div> <!--/ .row -->

							<div class="margin-top-40"></div>

							<div class="row">
								<div class="col-md-4">
									<h4><span class="red">04.</span> Web Development</h4>
									<p>
										Our web development proficiency ranges from developing simple static single pages to the most complex web-based internet applications, electronic businesses, and social network services.
									</p>
								</div>
								<div class="col-md-4">
									<h4><span class="red">05.</span> Display Advertising</h4>
									<p>
										Display ads utilize web and email to drive direct sales for your brand, and these banner ads are designed based on real analytics to effectively result in sales conversions.
									</p>
								</div>
								<div class="col-md-4">
									<h4><span class="red">06.</span> Search Marketing</h4>
									<p>
										Brands constantly want to be at the top of search results for engines such as Google and less often for Bing and Yahoo. User specifically use search to find products & services they need in the moment.
									</p>
								</div>
							</div>

							<div class="margin-top-40"></div>

							<div class="row">
								<div class="col-md-4">
									<h4><span class="red">07.</span> Social Media</h4>
									<p>
										Social Media gives consumers the ability to interact with a brand instantly. Social media could be your brand’s best money-makers or your worst nightmare if mismanaged.
									</p>
								</div>
								<div class="col-md-4">
									<h4><span class="red">08.</span> Content Marketing</h4>
									<p>
										This starts off by creating a unique content strategy that satisfies the needs of a niche market. Curating and writing unique content with the right keywords makes a lasting brand and shows relevancy.
									</p>
								</div>
								<div class="col-md-4">
									<h4><span class="red">09.</span> Competitor Research</h4>
									<p>
										Our Market Planning Analysis & Development (MPAD) Reports are not offered anywhere else. We develop strategies based on actionable insights by researching your brand’s competitors in digital space.
									</p>
								</div>
							</div>

							<div class="margin-top-40"></div>

							<div class="row">
								<div class="col-md-4">
									<h4><span class="red">10.</span> Analytics</h4>
									<p>
										As Google Partners, we pride ourselves on the quality and caliber of analytics data we are able to provide to our clients. Our analytics team provide actionable insights through aggregated data.
									</p>
								</div>
								<div class="col-md-4">
									<h4><span class="red">11.</span> Email Marketing</h4>
									<p>
										Email Marketing involves designing effective email templates, identifying a brand’s target market and user behavior from mobile device usage to email send-ability.
									</p>
								</div>
							</div>

						</div> <!--/ .the-feature -->
				</div> <!--/ .container -->

			</section>

			<!--
			==================================
			== BEGIN CUSTOMER STORY SECTION ==
			==================================
			-->
			<section id="customer-story" class="gray-bg centered">

				<div class="container">
					<div class="row">

						<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">

							<p class="section-title">TESTIMONIALS</p>

							<h2 class="section-heading">What our clients say about us</h2>

						</div> <!--/ .col-lg-8 -->

						<div class="clearfix"></div>

						<!-- BEGIN Customer Logo and Testimonials -->
						<div class="customer-box-wrapper centered margin-bot-35">

							<ul class="customer-logos">

								<!-- BEGIN 1st Logo -->
								<li>
									<div class="vertical-center-wrapper">
										<div class="vertical-center-table">
											<div class="vertical-center-content">

												<img class="customer-logo" src="images/client/conor.png" alt="Customer Logo" data-sr="scale up 30%" /> <!--/ .customer-logo -->

											</div>
										</div>
									</div> <!--/ .vertical-center-wrapper -->

									<div class="customer-quote">

										<small>I've been using #StiltMedia services for few years now and I have to say, they never ceased to amaze me with their innovative approach, prompt responses and family-like hospitality.  I always felt welcomed, understood and what is most important: my ideas were amplified to perfection. Many people still show my site as an example of how modern site should look, which I am proud of and have to thank Stilt Media again and again!</small>
										<span class="customer-link all-caps"><a href="#0">Conor Mcgregor</a></span>

									</div> <!--/ .customer-quote -->
								</li>
								<!--/ END 1st Logo -->

								<!-- BEGIN 2nd Logo -->
								<li class="center-customer-logo">
									<div class="vertical-center-wrapper">
										<div class="vertical-center-table">
											<div class="vertical-center-content">

												<img class="customer-logo" src="images/client/outer.png" alt="Customer Logo" data-sr="scale up 30% wait .2s"/> <!--/ .customer-logo -->

											</div>
										</div>
									</div> <!--/ .vertical-center-wrapper -->

									<div class="customer-quote">

										<small>The personnel at Stilt are extremely professional and brought a lot of fresh ideas and perspectives to the table. They value both time and money and delivered the required services within the stipulated deadlines. Outer Reef Yachts will continue to do business with Stilt as projects arise. I am extremely satisfied with the way they conduct their business and hope that you have the same pleasant experience with them.</small>

										<span class="customer-link all-caps"><a href="#0">Outer Reef Yacths</a></span>

									</div> <!--/ .customer-quote -->
								</li>
								<!-- END 2nd Logo -->

								<!-- BEGIN 3rd Logo -->
								<li>
									<div class="vertical-center-wrapper">
										<div class="vertical-center-table">
											<div class="vertical-center-content">

												<img class="customer-logo" src="images/client/gloss.png" alt="Customer Logo" data-sr="scale up 30% wait .4s"/> <!--/ .customer-logo -->

											</div>
										</div>
									</div> <!--/ .vertical-center-wrapper -->

									<div class="customer-quote">

										<small>I am pleased to acknowledge Guigo Simoes and his wonderful company, Stilt Media, for exceeding my expectations in the development of my business and e-commerce websites. Not only have they taken my ideas and incorporated them into an incredible website, but they’ve also assisted me with making my brand a recognizable presence in the marketplace.</small>
										<span class="customer-link all-caps"><a href="#0">Gloss Miami</a></span>

									</div> <!--/ .customer-quote -->
								</li>
								<!-- END 3rd Logo -->

							</ul> <!--/ .customer-logos -->



							</ul> <!--/ .customer-logos -->

						</div> <!--/ .customer-box-wrapper -->
						<!--/ END Customer Logo and Testimonials -->

						<div class="clearfix"></div>


					</div> <!--/ .row -->
				</div> <!--/ .container -->

			</section>
			<!--
			=================================
			==/ END CUSTOMER STORY SECTION ==
			=================================
			-->


		</main> <!--/ #main-content -->
		<!--
		=======================
		==/ END MAIN CONTENT ==
		=======================
		-->


		<!--
		==========================
		== BEGIN FOOTER CONTENT ==
		==========================
		-->
		<footer id="main-footer">

			<div class="container">
				<div class="row">

					<ul class="footer-social">
						<li><a href="https://www.facebook.com/StiltMedia" target="_blank"><span class="icon-facebook-with-circle"></span></a></li>
						<li><a href="https://twitter.com/stiltmedia" target="_blank"><span class="icon-twitter-with-circle"></span></a></li>
						<li><a href="https://instagram.com/stilt_media/" target="_blank"><span class="icon-instagram-with-circle"></span></a></li>
						<li><a href="https://plus.google.com/+Stiltmedia/posts" target="_blank"><span class="icon-google-with-circle"></span></a></li>
					</ul> <!--/ .footer-social -->

					<div class="copyright">


						<p>© Stilt Media. All rights reserved. 2015<br>Made with love in Miami by <a href="http://stiltmedia.com" target="_blank">Stilt Media</a></p>
						<!-- END language popover -->

					</div> <!--/ .copyright -->

				</div> <!--/ .row -->
			</div> <!--/ .container -->

		</footer>
		<!--
		=========================
		==/ END FOOTER CONTENT ==
		=========================
		-->


		<!--
		=========================
		== BEGIN TO TOP BUTTON ==
		=========================
		-->
			<a id="to-top"><span class="icon-chevron-thin-up"></span></a>
		<!--
		========================
		==/ END TO TOP BUTTON ==
		========================
		-->


		<!--
		=================================
		== BEGIN CONTACT MODAL CONTENT ==
		=================================
		-->
		<div class="contact-overlay overlay-scale">
			<a class="overlay-close">Close</a>

			<div class="container">

				<div class="row">

					<div class="contact-content col-lg-10 col-lg-offset-1 centered">

						<h2 class="all-caps"> Contact Us </h2>

						<p>Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas mollis interdum!</p>

						<!-- BEGIN Contact Form -->
						<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">

							<form class="contact-form" id="contact-form" method="post">

								<div class="row">

									<div class="col-lg-6 col-md-6">

										<div class="required-field">
											<input name="fname" id="fname" class="contact-input"  type="text" placeholder="First Name">
										</div> <!--/ .required-field -->

									</div> <!--/ .col-lg-6 -->

									<div class="col-lg-6 col-md-6">

										<input name="lname" id="lname" class="contact-input" type="text" placeholder="Last Name">

									</div> <!--/ .col-lg-6 -->

									<div class="col-lg-12 col-md-12">

										<div class="required-field">
											<input name="email" id="email" class="contact-input" type="email" placeholder="Email Address">
										</div> <!--/ .required-field -->

									</div> <!--/ .col-lg-12 -->

									<div class="col-lg-12 col-md-12">

										<input name="subject" id="subject" class="contact-input" type="text" placeholder="Subject">

									</div> <!--/ .col-lg-12 -->

									<div class="col-lg-12 col-md-12">

										<div class="required-field">
											<textarea name="message" id="message" rows="9" placeholder="Message"></textarea>
										</div> <!--/ .required-field -->

									</div> <!--/ .col-lg-12 -->

									<div class="col-lg-12 col-md-12 all-caps centered">

										<button id="submit" type="submit" class="submit-btn">Submit</button>

									</div> <!--/ .col-lg-12 -->

								</div>

							</form> <!--/ .contact-form -->

						</div> <!--/ .col-lg-6 -->
						<!--/ END Contact Form -->

					</div> <!--/ .contact-content -->

				</div> <!--/ .row -->

			</div> <!--/ .container -->

		</div> <!--/ .contact-overlay -->

		<!--
		================================
		==/ END CONTACT MODAL CONTENT ==
		================================
		-->


		<!--
		======================================
		== BEGIN FORM NOTIFICATIONS CONTENT ==
		======================================
		-->
		<!-- BEGIN Subscribe Form Alert/Notification -->
		<div id="subscribe-error-notification" class="notif-box">

			<span class="icon-bullhorn notif-icon"></span>
			<p>Subscribe error, please review your email address.</p>
			<a class="notification-close"><span class="icon-cross2"></span></a>

		</div> <!--/ #error-notification -->

		<div id="subscribe-success-notification" class="notif-box">

			<span class="icon-checkmark notif-icon"></span>
			<p>You're now subscribed, thank you!</p>
			<a class="notification-close"><span class="icon-cross2"></span></a>

		</div> <!--/ #success-notification -->
		<!-- END Subscribe Form Alert/Notifications -->


		<!-- BEGIN Contact Form Alert/Notifications -->
		<div id="error-notification" class="notif-box">

			<span class="icon-bullhorn notif-icon"></span>
			<p>There was a problem with your submission. Please check the field(s) with red label below.</p>
			<a class="notification-close"><span class="icon-cross2"></span></a>

		</div> <!--/ #error-notification -->

		<div id="success-notification" class="notif-box">

			<span class="icon-checkmark notif-icon"></span>
			<p>Your message has been sent. We'll get back to you soon!</p>
			<a class="notification-close"><span class="icon-cross2"></span></a>

		</div> <!--/ #success-notification -->
		<!-- END Contact Form Alert/Notifications -->

		<!-- BEGIN Hero Form Alert/Notifications -->
		<div id="hero-error-notification" class="notif-box">

			<span class="icon-bullhorn notif-icon"></span>
			<p>There was a problem with your submission. Please check the field(s) with red label below.</p>
			<a class="notification-close"><span class="icon-cross2"></span></a>

		</div> <!--/ #error-notification -->

		<div id="hero-success-notification" class="notif-box">

			<span class="icon-checkmark notif-icon"></span>
			<p>Your account details has been submitted. Please check your email for verification.</p>
			<a class="notification-close"><span class="icon-cross2"></span></a>

		</div> <!--/ #success-notification -->
		<!-- END Hero Form Alert/Notifications -->
		<!--
		=====================================
		==/ END FORM NOTIFICATIONS CONTENT ==
		=====================================
		-->
