<main id="main-content" class="hero-form-layout" style="margin-bottom: 204px;">
	<section id="thanks">
		<div class="hero-split-right"></div>
		<div class="container">
			<div class="vertical-center-wrapper">
				<div class="vertical-center-table">
					<div class="vertical-center-content">
						<div class="hero-content row">
							<div class="col-lg-6 col-md-6 col-sm-6 margin-top-140">
								<div class="row">
									<div class="col-lg-10">
										<div class="embed-responsive embed-responsive-16by9" data-sr="enter bottom over 1s and move 75px">
											<%= image_tag 'logo-hero.png', class: 'img-responsive' %>
										</div>
									</div>
								</div>
							</div>
							<div class="hero-form-wrapper col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 centered margin-top-140" data-sr="over 1.25s">
								<h4 class="all-caps margin-bot-15">Thank you for contacting us. A representative will be with you shortly</h4>
	              <a href="/">Back</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
