<footer id="main-footer">
  <div class="container">
    <div class="row">
      <ul class="footer-social">
        <li><a href="https://www.facebook.com/StiltMedia" target="_blank"><span class="icon-facebook-with-circle"></span></a></li>
        <li><a href="https://twitter.com/stiltmedia" target="_blank"><span class="icon-twitter-with-circle"></span></a></li>
        <li><a href="https://instagram.com/stilt_media/" target="_blank"><span class="icon-instagram-with-circle"></span></a></li>
        <li><a href="https://plus.google.com/+Stiltmedia/posts" target="_blank"><span class="icon-google-with-circle"></span></a></li>
      </ul>
      <div class="copyright">
        <p>© Stilt Media. All rights reserved. 2015<br>Made with love in Miami by <a href="http://stiltmedia.com" target="_blank">Stilt Media</a></p>
      </div>
    </div>
  </div>
</footer>

<a id="to-top"><span class="icon-chevron-thin-up"></span></a>
