<nav id="nav-wrapper">
	<a class="nav-close" href="#0"><span class="icon-cross2"></span></a>
	<ul id="main-nav" class="main-nav all-caps">
		<li class="current"><a href="/">Home</a></li>
		<li><a href="/#who-we-are">Who We Are</a></li>
		<li><a href="/#awards">Awards</a></li>
		<li><a href="/#our-work">Our Work</a></li>
    <li><a href="/#our-services">Our Services</a></li>
		<li><a href="/#customer-story">Customers</a></li>
	</ul>
</nav>
